*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
     height: 100px;
     width: 90%;
     /* background-color: #fff3e4; */
     display: flex;
     align-items: center;
     justify-content: space-around;
     row-gap: 20px;
     box-shadow: 11px 6px 20px #edededb8;
     margin: auto; 
   


}
.nav li
{
float: left;
line-height: 100px;
width: 100px;
font-family: "Poppins", sans-serif;
list-style: none;
transition: 0.7s;
}
.nav li:hover
{
     /* box-shadow: 6px 3px 10px #efefef; */
     font-weight: 600;
     color: #d1c571;
}
.nav span
{
     display: inline-block;
     height: 100%;
     width: 120px;

}
.nav img {
     height: 60%;
     width: 48%;
     position: relative;
     top: 8px;
     right: 20px;
 }
 #heading
 {
     margin-left: -262px;
     margin-top: 5px;
     font-family: "Rajdhani", sans-serif;
     width: 200px;
     font-weight: 600;
     font-size: 29px;
     color: #d1c571;
     height: 64px;

  }
 a
 {
     color: black;
 }

 /* ---------------------home--------------------- */
 .box 
 {
     height: auto;
     width: 99%;
     margin: auto;
     margin-top: 50px;
     margin: 0px;
     padding: 0px;
 }
 .header
 {
     height: 600px;
     width: 90%;
     background-color: #ffffdb;
     margin: auto;
     margin-top: 50px;  
 }
 .header img {
     height: 100%;
     width: 100%;
     margin: auto;
 }
 .cont
 {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    margin: auto;
    margin-top: 80px;
 }
 .ext_line
 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
 }
 .card
 {
     height: 410px;
     width: 350px;
     box-shadow: 2px 3px 8px rgb(231, 231, 231);
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;

 }
 .card img
 {
    height: 198px;
    width: 198px;
 }
 #search
 {
    height: 95%;
    border: none;
    outline: 1px solid black;
    border-radius: 4px;
    padding: 0px 21px 0px;
    margin-left: 60px;
    padding-top: 0px;
    padding: 11px;
 }

 #search  input::placeholder
 {
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #search_btn {
    margin-left: 10px;
}

.btn_cont
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns
{
    display: flex;
    align-items: center;
    row-gap: 20px;
}
#span_srch
{
    display: inline-block;
    height: 44px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btns 
{
    margin-top: 70px;
}
.btns  button
{
    margin-left: 50px;

}

#match_item
{
    margin: auto;
    margin-bottom: 50px;
}
.fa-cart-shopping
{
font-size: 26px;}
#ci
{
    background-color: #f5f5f5;
    border-radius: 50px;
    position: relative;
    top: 21px;
    left: -44px;
    height: 22px;
    width: 21px;
    border: 1px solid;
}

.btn-primary
{
    position: absolute;
    bottom: 30px;
    left: 80px;
    margin: auto;
}
.rc
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    margin: auto;
}